<% pageTitle = "Document download error - Get a document legalised – GOV.UK" %>

<h1 class="heading-xlarge">Sorry, there was a problem</h1>
<div class="column-two-thirds">
    <p>A temporary issue with the service stopped your document from being downloaded. </p>
    <% if (appRef) {%>
        <p>Please try to <a href="/open-eapp/<%= appRef %>" class="govuk-link govuk-link--no-visited-state">download your document again</a>.</p>
    <% }%>
</div>
