<% pageTitle="Check your documents are eligible" %>

    <div class="inner_header <%if (!user_data.loggedIn){%>no-user-signed-in<%}%>">
        <a href="/before-you-apply" class="back-to-previous govuk-link">Back</a>
        <% if (user_data.loggedIn) { %>
            <%- partial ('../partials/inner-header.ejs')%>
        <% }else{%>
            <div class="inner-header-content">
                <span class="email-logout-text">
                    <a  href="<%= sails.config.customURLs.userServiceURL%>/sign-in?next=serviceSelector&from=start" class="govuk-link">Sign in</a>
                </span>
            </div>
        <%} %>
    </div>
    <div class="column-two-thirds">
        <%if (page_error) { %>
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
                data-module="govuk-error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li>
                            <a href="#no-option-chosen-error">You must answer this question</a>
                        </li>
                    </ul>
                </div>
            </div>
        <%}%>

        <span class="caption-xlarge">e-Apostille suitability - 1 of 3</span>
        <h1 class="heading-large govuk-!-margin-top-2">
            Check your documents are eligible
        </h1>
        <p>
            The e-Apostille service excludes a small number of document types. To legalise the following documents, <a href="/select-service">use the paper-based service instead.</a>
        </p>
        <div class="govuk-!-margin-bottom-2 bold-text">Excluded documents</div>
        <ul class="govuk-list govuk-list--bullet indent-list govuk-!-margin-bottom-0">
            <li>All General Register Office (GRO) documents, including birth, death, marriage, civil partnership and adoption certificates</li>
            <li>ACRO police certificates for England and Wales</li>
            <li>Disclosure Barring Service (DBS) certificates for England and Wales</li>
            <li>Disclosure certificates for Scotland or Northern Ireland</li>
            <li>Fingerprint certificates</li>
            <li>Association of Chartered Certified Accountants (ACCA) membership certificates</li>
        </ul>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Why these documents are excluded
                </span>
            </summary>
            <div class="govuk-details__text">
                The organisations that issue these documents do not currently allow electronic copies to be legalised. For example, some of the documents include physical features and therefore must be viewed in their original format.
            </div>
        </details>

        <h2 class="heading-medium">Are your documents eligible for the e-Apostille service?</h2>
        <form
            action="/eligibility/check-documents-are-eligible"
            method="post"
        >
            <div class="govuk-radios<%if (page_error) { %> govuk-form-group--error<%}%>">
                <%if (page_error) { %>
                    <span id="no-option-chosen-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> You must answer this question
                    </span>
                <%}%>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="eapostille-acceptable" name="eapostille-acceptable" type="radio"
                        value="yes">
                    <label class="govuk-label govuk-radios__label" for="eapostille-acceptable">
                        Yes, I believe my documents are eligible
                    </label>

                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="eapostille-acceptable-2" name="eapostille-acceptable" type="radio"
                        value="no">
                    <label class="govuk-label govuk-radios__label" for="eapostille-acceptable-2">
                        No, my documents are excluded
                    </label>

                </div>
            </div>
            <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>