<% pageTitle = "Payment error - Get a document legalised – GOV.UK" %>

<h1 class="heading-xlarge">Sorry, there has been a problem getting your document</h1>
<div class="column-two-thirds">
    <p>Try again later.</p>
    <p>If this problem continues please contact the Legalisation Office at...</p>
</div>
