<h1 class="heading-xlarge">Sorry, there is a problem with this service</h1>

<section class="column-two-thirds">

    <p>This is a temporary technical problem.</p>
    <p>Please try again in a few minutes.</p>

</section>