<% pageTitle="Sorry, there is a problem" %>

<h1 class="heading-xlarge">Sorry, there is a problem</h1>

<section class="column-two-thirds">

    <p><a href="/upload-files">Try again</a> or contact the Legalisation Office.</p>


</section>