<% pageTitle="Get the documents legalised using the e-Apostille service" %>

<div class="inner_header no-user-signed-in">
    <a href="<%= back_url %>" class="back-to-previous govuk-link">Back</a>
    <% if (user_data.loggedIn) { %>
        <%- partial ('../partials/inner-header.ejs')%>
    <% } %>
</div>

<h1 class="heading-xlarge">Get the documents legalised using the e-Apostille service</h1>

<section class="column-two-thirds">
    <p>You need:</p>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>the documents you wish to legalise saved as PDFs, notarised and digitally signed by a notary</li>
        <li>a credit or debit card for payment</li>
    </ul>
    <p>
        The legalised documents and electronic Apostille will be issued and available to download from your account. Your documents will be processed within 2 working days.
    </p>
    <div class="govuk-inset-text">
        If you do not enter any information for more than 30 minutes, your
        application will time out and you will have to start again.
    </div>

    <a href="<%= next_url %>" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Continue
    </a>

</section>