<% pageTitle="Completing your application" %>

<div class="inner_header no-user-signed-in">
    <a href="<%= back_url %>" class="back-to-previous govuk-link">Back</a>
    <%- partial ('../partials/sign-in-link.ejs')%>
</div>

 <h1 class="heading-large govuk-!-margin-top-9">Completing your application</h1>

<section class="column-two-thirds">

    <p class="govuk-body">Based on your answers your documents are suitable for the e-Apostille service.</p>

    <h2 class="heading-medium govuk-!-margin-top-6">Next steps</h2>
    <div id="step-by-step-navigation" class="app-step-nav app-step-nav--large ">
        <ol class="app-step-nav__steps">
          <li class="app-step-nav__step js-step step-is-shown" id="sign-in-or-create-account" data-show>
            <div class="app-step-nav__header js-toggle-panel" data-position="1">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 1
                    </span>
                  </span>
                </span>

                <span class="js-step-title">
                  Sign in or create an account
                </span>
              </h2>
            </div>

            <div class="app-step-nav__panel js-panel" id="step-panel-sign-in-or-create-account">
              <p class="app-step-nav__paragraph">
                You need an account so that you can check the progress of your application and download documents once legalised.
              </p>
            </div>

          </li>

          <li class="app-step-nav__step js-step step-is-shown" id="upload-your-documents" data-show>
            <div class="app-step-nav__header js-toggle-panel" data-position="2">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 2
                    </span>
                  </span>
                </span>

                <span class="js-step-title">
                  Upload your documents
                </span>
              </h2>
            </div>

            <div class="app-step-nav__panel js-panel" id="step-panel-upload-your-documents">
              <p class="app-step-nav__paragraph">Upload the documents you want to be legalised in PDF files. We can issue one e-Apostille per PDF file.</p>
            </div>

          </li>

          <li class="app-step-nav__step js-step step-is-shown" id="pay-for-application" data-show>
            <div class="app-step-nav__header js-toggle-panel" data-position="3">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 3
                    </span>
                  </span>
                </span>

                <span class="js-step-title">
                  Pay the application fees
                </span>
              </h2>
            </div>

            <div class="app-step-nav__panel js-panel" id="step-panel-pay-for-application">
              <p class="app-step-nav__paragraph">£30 for each e-Apostille issued. Pay by credit or debit card.</p>
              <p class="app-step-nav__paragraph">If we cannot legalise any of your documents you will get an automatic refund for that file.</p>
            </div>

          </li>

          <li class="app-step-nav__step js-step step-is-shown" id="download-documents" data-show>
            <div class="app-step-nav__header js-toggle-panel" data-position="3">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 4
                    </span>
                  </span>
                </span>

                <span class="js-step-title">
                  Download your legalised documents
                </span>
              </h2>
            </div>

            <div class="app-step-nav__panel js-panel" id="step-panel-download-documents">
              <p class="app-step-nav__paragraph">
                We will email you when your application has been processed. If it is successful, you will have 21 days to download PDFs containing your legalised documents and e-Apostille certificates before they are deleted for data privacy reasons.
              </p>
              <p class="app-step-nav__paragraph">
                You can then digitally share your PDFs (containing legalised documents and e-Apostille) with the intended recipient (for example, by email).
              </p>
            </div>

          </li>
        </ol>
      </div>

      <a href="<%= next_url %>" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Continue
      </a>
</section>
