<% pageTitle="The PDFs need to be notarised and digitally signed by a notary" %>

    <div class="column-two-thirds govuk-!-margin-top-6">
        <h1 class="heading-large govuk-!-margin-top-2">
            The PDFs need to be notarised and digitally signed by a notary
        </h1>
        <p>
            If the PDFs have not been notarised and digitally signed by a notary, you cannot use the e-Apostille service.
        </p>
        <p>
            You will need to apply online and then post the documents to the Legalisation Office.
        </p>
        <a href="/choose-documents-or-skip?pk_campaign=Standard-Service&pk_kwd=Standard">
            Use the standard service here.
        </a>
    </div>