<% pageTitle="You need to use the standard service" %>

<div class="column-two-thirds govuk-!-margin-top-6">
    <h1 class="heading-large govuk-!-margin-top-2">
        You need to use the standard service
    </h1>
    <p>
        If the documents are not eligible for the e-Apostille service, you can still get them legalised by using the standard
        service.
    </p>
    <p>
        You will need to apply online and then post the documents to the Legalisation Office.
    </p>
    <a href="/choose-documents-or-skip?pk_campaign=Standard-Service&pk_kwd=Standard">
        Use the standard service here.
    </a>
</div>