<% pageTitle="You need to use the paper-based service" %>
<% const question = req.params.question; %>
<% const backLocation = {
   "you-cannot-apply-yet": "check-documents-are-eligible",
   "check-recipient-accepts-eapostilles-exit": "check-recipient-accepts-eapostilles",
   "use-paper-based-service": "check-documents-are-prepared",
} %>

<a href="/eligibility/<%= backLocation[question] %>" class="back-to-previous govuk-link">Back</a>

<div class="inner_header no-user-signed-in">
    <%- partial('../partials/inner-header')%>
</div>
<div class="column-two-thirds">
    <div className="govuk-!-margin-top-6">
        <% if (question === 'you-cannot-apply-yet')  { %>
            <h1 class="heading-large govuk-!-margin-top-2">
                You need to use the paper-based service
            </h1>
            <p>
                As your documents are not eligible for the e-Apostille service you will need to <a href="/select-service">use the paper-based service instead.</a>
            </p>
        <% } %>

        <% if (question === 'check-recipient-accepts-eapostilles-exit') { %>
            <h1 class="heading-large govuk-!-margin-top-2">
                You should check the intended recipient accepts e-Apostilles
            </h1>
            <p>
                If you do not know that the intended recipient accepts e-Apostilles you should check this with them before you apply.
            </p>
            <p>
                Alternatively you can <a href="/select-service">use the paper-based service</a> but may still want to check the recipient’s requirements first.
            </p>
        <% } %>

        <% if (question === 'use-paper-based-service') { %>
            <h1 class="heading-large govuk-!-margin-top-2">
                You cannot apply yet
            </h1>
            <p>
                The e-Apostille service only accepts PDF documents that have been electronically signed by a notary or solicitor. Find out more about <a href="<%= sails.config.views.locals.start_url %>">how to get a document legalised.</a>
            </p>
            <p>
                You need to get your documents electronically signed or <a href="/select-service">use the paper-based service instead.</a>
            </p>
        <% } %>
    </div>
</div>
