<h1 class="heading-xlarge">Sorry, there was a problem with the service</h1>

<section class="column-two-thirds">
    <p>Please try to access <a href="<%= prevUrl %>">your account again</a>.</p>
</section>
