<% pageTitle="e-Apostille application - Error" %>

<div class="inner_header <%if (!user_data.loggedIn){%>no-user-signed-in<%}%>">
    <a href="/dashboard" class="back-to-previous govuk-link">Back</a>
    <%- partial ('../partials/inner-header.ejs')%>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="caption-xlarge">e-Apostille application</span>
        <h1 class="heading-xlarge govuk-!-margin-top-2">
            <%= applicationId %>
        </h1>
    </div>
</div>

<section class="column-two-thirds">
    <p class="govuk-body">Sorry, there is a problem with viewing this application.</p>
    <p class="govuk-body">You can <a href="/dashboard" class="govuk-link">go back to the application list</a> to try again.</p>
</section>
