<div class="inner_header" >
    <a href="<%= prevUrl %>" class="back-to-previous govuk-link">Back</a>
</div>

<h1 class="heading-xlarge">Sorry, there was a problem</h1>

<section class="column-two-thirds">

    <p>A temporary issue with the service stopped you from viewing your applications.</p>
    <p>Try again shortly.</p>

</section>