<body class="">
<script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<script src="/js/cookie-functions.js"></script>

<div id="skiplink-container" class="noPrint">
    <div>
        <a href="#content" class="skiplink">Skip to main content</a>
    </div>
</div>
<!--
<div id="global-cookie-message">
   <p> The legalisation service uses cookies, including one which is required to complete an online application. <a  href="/cookies"  target="_blank" >Review your cookie settings.<span class="visually-hidden"> opens in new window</span></a></p>

</div>-->

<div id="global-cookie-message" >
    <p><b>Tell us whether you accept cookies</b></p>
    <br>
    <p> We use <a class="govuk-link" href="/cookies">cookies to collect information</a> about how you use GOV.UK. We use this information to make the website work as well as possible and improve government services.</p>
       <p>
           <br>
           <button id="accept-all-cookies" class="button" typeof="submit">Agree all Cookies</button>
           <button id="preference-cookies" class="button">Set cookie preferences</button>       </p>
</div>

<div id="confirmation-cookie-message" style="display: none">
    <br>
    <p> You’ve accepted all cookies. You can  <a class="govuk-link" href="/cookies">change your cookie settings</a> at any time.
    <span style="float:right">
        <a class="govuk-link" href="" id="hide-confirmation">Hide</a>
    </span>
    </p>
</div>


<!--end global-cookie-message-->
<header role="banner" id="global-header" class="with-proposition noPrint">
    <div class="header-wrapper">
        <div class="header-global">
            <div class="header-logo">
                <%if(service_public){%>
                <a href="<%= govuk_url%>" title="Go to the gov.uk homepage" id="logo" class="content">
                    <img src="/images/gov.uk_logotype_crown.png" style="width:35px height:31px" alt="Foreign & Commonwealth Office"> GOV.UK
                </a>
                <%}else{%>
                <a href="/" title="Go to the homepage" id="logo" class="content">
                    <img src="/images/gov.uk_logotype_crown.png" style="width:35px height:31px" alt="Foreign & Commonwealth Office"> FCO
                </a>
                <%}%>
            </div>
        </div>
        <div class="header-proposition noPrint">
            <div class="content">
               <!-- <a href="#" class="js-header-toggle menu">Menu</a>-->
                <nav id="proposition-menu">
                    <%if(service_public){%>
                    <a href="<%= start_url%>" id="proposition-name">Get a document legalised</a>
                    <%}else{%>
                    <a href="/" id="proposition-name">Get a document legalised</a>
                    <%}%>
                </nav>

            </div>
        </div>
    </div>
</header>
<!--end header-->



<div id="global-header-bar" class="noPrint"></div>
<!--end global-header-bar-->
<main id="content" role="main">

    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
                BETA
            </strong>
            <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" target="_blank" href="/navigate?url=http://www.smartsurvey.co.uk/s/2264M/">feedback<span class="visually-hidden"> opens in new window</span></a> will help us to improve it.
    </span>
        </p>
    </div>

  <% if (req.selectedDocs) { %>
    <%-JSON.stringify(req.selectedDocs )%>
  <%}%>

