<% if(address_type == 'main') {
    if(error_report && error_report.length>0){
        pageTitle = "Error: Return address details 1 - Get a document legalised – GOV.UK"
    }
    else{
        pageTitle = "Return address details - Get a document legalised – GOV.UK"
    }
}else{
    if(error_report && error_report.length>0){
        pageTitle = "Error: Return address if we can’t legalise your documents - Get a document legalised – GOV.UK"
    }
    else{
        pageTitle = "Return address if we can’t legalise your documents - Get a document legalised – GOV.UK"
    }
}
var uk = user_address.address.country != null ? user_address.address.country == 'United Kingdom' : null;
%>


<div class="inner_header <%if (!user_data.loggedIn){%>no-user-signed-in<%}%>" >
    <%
    var url = address_type=='main' ? !summary ? '/modify-your-basic-details' : '/review-summary': '/alternative-address' ;
    //If logged in show saved addresses page
    if (user_data.loggedIn && user_data.addressesChosen[address_type=='main' ? 0 : 1] >-2) {
        url = address_type=='main' ? '/your-saved-addresses' : '/your-saved-addresses-alternative'
    }
    %>
    <a href="<%= url %>" class="back-to-previous govuk-link">Back</a>

    <%if (user_data.loggedIn) { %><%- partial ('../../partials/inner-header.ejs')%><%}%>

</div>

<%if (error_report && error_report.length>0 && uk==null) {%>
    <div class="govuk-error-summary" role="alert" tabindex="-1" autofocus>

        <h2 class="govuk-error-summary__title" id="error-summary-heading">
            There is a problem
        </h2>
        <ul class="govuk-list govuk-error-summary__list">
            <li><a href="#radio-yes">Confirm whether the return address is in the UK</a></li>
        </ul>
    </div>
<%}%>
<h1 class="heading-xlarge"><%= address_type == 'main' ? 'Return address details' : 'Return address if we can’t legalise your documents' %></h1>


<div class="form-group column-two-thirds">
    <form id="is-uk" method="post" action="<%= '/your-'+address_type+'-address-uk' %>">

            <div class="form-group <%if (error_report && error_report.length>0 && uk==null) {%>error<% } %>">
                <div class="govuk-radios govuk-radios--inline">
                <fieldset class="inline" aria-required="true" role="radiogroup">
                    <legend class="form-label-bold">Is the return address in the UK?</legend>
                    <%if (error_report && error_report.length>0 ) {%><span class="error-message">Confirm whether the return address is in the UK</span><%}%>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="radio-yes"  type="radio" name="is_uk" value="true" <%if(typeof(uk)!='undefined' && uk){%>checked="checked"<%}%>>
                        <label class="govuk-radios__label <%if(typeof(uk)!='undefined' && uk){%>selected<%} %>" for="radio-yes">
                        Yes
                    </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="radio-no" type="radio" name="is_uk" value="false" <%if(typeof(uk)!='undefined'&& !uk && uk!=null ){%>checked="checked"<%}%>>
                        <label class="govuk-radios__label <%if(typeof(uk)!='undefined' && !uk && uk!=null){%>selected<%}%>" for="radio-no">
                        No
                    </label>
                    </div>
                </fieldset>
                </div>
            </div>

            <div class="form-group">
                <button role="button" draggable="false" class="govuk-button" data-module="govuk-button" type="submit">Continue</button>
            </div>

    </form>
</div>

