<% pageTitle = "Email confirmation" %>

<div class="column-two-thirds">
    <div class="form-group column-two-thirds">
        <div class="form-group" style="margin-top: 10px;">
            <div class="container-confirmed container">

            <p class="heading-medium confirmed" style="margin: 0.875em 0;">
                <i class="flaticon-checked21"></i>Email sent to <%= email%></p>
        </div>
    </div>
    <p>We've sent the certification information to your email address.</p>

    <p>Remember to come back to this site to submit your application when you have all of your documents certified.</p>
</div>

<div class="form-group">
    <p><a href="<%= feedbackURL%>" target="_blank">What did you think of this service?<span class="visually-hidden"> opens in new window</span></a> (takes 30 seconds)</p>
    <p><a href="/start">Start a new application</a></p>
</div>
</div>
