<% pageTitle = "Check if documents can be legalised - Get a document legalised – GOV.UK" %>

  <div>
    <div id="doc-seach-typeahead">

        <label class="visually-hidden" for="doc_search_field">Document search</label>
        <input
            class="typeahead"
            type="search"
            id="doc_search_field"
            value="<% if (search_term && search_term!=null) { %><%= search_term %><% } %>"
            name="searchTerm"
            placeholder="Search for a document"
            autocomplete="off"
            role="combobox"
            aria-autocomplete="list"
            >
        <input type="submit" id="doc_search_button" value="Search" class="button" />
    </div>
  </div>
