<% pageTitle = "No documents found" %>
<div class="filter-results main-content">
<p><span class="bold-text">0 results found</span></p>

<p>Please try:</p>
<form action="/select-documents" method="post">
<ul>
    <li>Searching again using a different name for your document</li>
    <li>Searching for a category of documents e.g.
        <a href="?searchTerm=identity">identity</a>,
        <a href="?searchTerm=legal">legal</a>,
        <a href="?searchTerm=medical">medical</a>
    </li>
</ul>
</form>
</div>
