<%
var title = return_to_skip?"Check if documents can be legalised":"Search for your document";
pageTitle = title + ""
%>


<div class="inner_header <%if (!user_data.loggedIn){%>no-user-signed-in<%}%>" >
    <a href="/start?from=<%= user_data.loggedIn ? 'dashboard' : 'home'%>" class="back-to-previous govuk-link">Back</a>
    <% if (user_data.loggedIn) { %>
    <%- partial ('../partials/inner-header.ejs')%>
    <% } %>
</div>


<h1 class="heading-xlarge" xmlns="http://www.w3.org/1999/xhtml">Check if documents can be legalised</h1>

<div class="article-container group">
        <div class="inner">
            <div class="intro column-two-thirds">
                <form action="/select-documents" method="post">

                    <p>You can get a UK document with the signature, stamp or seal of a UK public official legalised. You may need to send your document in a particular format eg an original not a photocopy.</p>
                    <p>Use this tool to check if your document can be legalised.</p>
                    <p class="get-started">
                        <input type="submit"  id='check_documents'  role="button" class="govuk-button" value="Check your documents" />

                    </p>
                </form>
                <div class="form-group">
                    <form action="/provide-your-details" method="POST">
                        <p>If you know your documents can be legalised you can <input id="skip_check" type="submit" class="linkButton govuk-link" value="skip this document check">.</p>
                    </form>

                </div>
            </div>
        </div>
</div>
