<% pageTitle = "No documents found" %>
<div class="filter-results main-content">
<p><span class="bold-text">0 results found</span></p>

<p>Please try:</p>
<form action="/select-documents" method="post">
<ul>
    <li>Searching again using a different name for your document</li>
    <li>Searching for a category of documents e.g.
        <a href="?searchTerm=identity">identity</a>,
        <a href="?searchTerm=legal">legal</a>,
        <a href="?searchTerm=medical">medical</a>
    </li>
</ul>
</form>
<p>Other ways to find your documents:</p>
<ul>
<li><a href="/a-to-z-document-listing" id="az-list-link" onclick="_paq.push(['trackEvent', '03 Eligibility checker interactions', 'Go to A-Z document list from zero results page'])">View the full A to Z list of documents which we can legalise</a></li>
</ul>
</div>