<% pageTitle="Page not found" %>

<header>
    <h1 class="heading-xlarge">Page not found</h1>
</header>
<article>
    <p class="summary">If you entered a web address, check it is correct.</p>
    <p class="summary">You can also try: </p>
    <ul>
        <li><a href="/">Get a document legalised</a></li>
        <li><a href="https://www.gov.uk">GOV.UK home page</a></li>
    </ul>
</article>
