<% pageTitle = "Start page - Get a document legalised – GOV.UK" %>
<h1 class="heading-xlarge">Get your document legalised</h1>

<section class="intro column-two-thirds">
    <div class="get-started-intro">
        <div class="summary">
            <p>You get a UK public document ‘legalised’ by asking the UK government to confirm that a UK public official’s signature, seal or stamp on the document is genuine.</p>
        </div>

        <p>You might need to do this if a local authority abroad has asked you to provide a document and they’ve said it must be legalised.</p>

        <div class="panel panel-border-narrow panel-indent-info">
            <p>We'll legalise your documents by issuing and applying an official certificate called an 'apostille'.</p>
        </div>

        <h2 class="heading-large">What you'll need</h2>
        <p>To complete the online application you'll need:</p>
        <ul class="list-bullet">
            <li>the documents you want legalised</li>
            <li>access to a printer</li>
            <li>return address details</li>
            <li>a credit or debit card for payment</li>
        </ul>
        <p>The application will time out after 30 minutes without activity.</p>

       

        <a href="/start?from=home" id="start" role="button" class="button button-get-started">Start now</a>


        <h2 class="heading-large">What it costs</h2>

        <p>The standard postal service costs £30 per document, plus the cost of the postage to return your documents by courier. This is:</p>

        <ul>
            <li>£5.50 in the UK (including British Forces Post Office)</li>
            <li>£14.50 per 500g in Europe (not including Albania, Armenia, Azerbaijan, Belarus, Bosnia and Herzegovina, Georgia, Liechtenstein, Kazakhstan, Macedonia, Moldova, Montenegro, Russia, Serbia, Turkey and Ukraine)</li>
            <li>£25 per 500g in every other country</li>
        </ul>

        <p>Include an A4-sized pre-paid envelope if you’re in the UK and don’t want your documents returned by courier.</p>

        <p>The premium service for businesses cost £75 per document. You need an account to use the premium service.  <a href="/api/user/register?from=home" target="_blank">Create an account <span class="visually-hidden"> opens in new window</span></a> or
            <a href="/api/user/sign-in?from=home" target="_blank">sign in<span class="visually-hidden"> opens in new window</span></a> if you have one already.</p>



        <h2 class="heading-large">How long it takes</h2>

        <p>It normally takes 2 working days to legalise your documents using the standard service, plus courier or postage time. It might take longer in July and August.</p>

        <p>The premium business service is a same-day service offered at the premium office in central london.</p>



        <h2 class="heading-large">Contact the Legalisation Office</h2>

        <div class="contact">
            <p><a href="mailto:legalisationenquiries@fco.gsi.gov.uk">legalisationenquiries@fco.gsi.gov.uk</a> <br>
                Telephone: 03700 00 22 44 <br>
                Monday to Friday, midday to 4pm<br>
                <a href="https://www.gov.uk/call-charges" rel="external"  target="_blank">Find out about call charges <span class="visually-hidden"> opens in new window</span></a></p>
        </div>
    </div>
</section>