<% pageTitle = "Service offline" %>

  <body class="js-enabled">

     <div id="skiplink-container">
       <div>
         <a href="#content" class="skiplink">Skip to main content</a>
       </div>
     </div>

 <main id="content" role="main">

   <div class="grid-row">
     <div class="column-two-thirds">

         <h1 class="heading-xlarge">
           Service offline<br>
         </h1>


 <h2 class="heading-medium">
           Please try again later
         </h2>

         <p>
           We're making some essential updates so the legalisation application service is currently offline.
         </p>
     </div>
   </div>
 </main>
</body>
