<div class="inner_header <%if (!user_data.loggedIn){%>no-user-signed-in<%}%>" >
    <%- partial ('./partials/inner-header.ejs')%>

</div>

<h1 class="heading-xlarge">Start a new application</h1>
<div class="column-two-thirds">
<p>Sorry, we can't take payment for this application and you’ll need to start again. This may be because you’ve used the browser back button immediately after completing a previous application. Use the link below to start again.</p>
<p><a href=https://www.gov.uk/get-document-legalised>Start a new application</a>
</div>

