<% pageTitle = "Survey" %>
<header>
  <h1 class="heading-xlarge">You are being redirected to our survey...</h1>
</header>
<article>
  <p class="summary">If you are not redirected automatically, please click <a href=<%=sails.config.views.locals.feedbackURL%>>here</a>.</p>
</article>
<meta http-equiv="refresh" content="2; url=<%=sails.config.views.locals.feedbackURL%>" />
