<% pageTitle = "Survey - Get a document legalised – GOV.UK" %>
<header>
  <h1 class="heading-xlarge">You are being redirected to our survey...</h1>
</header>
<article>
  <p class="summary">If you are not redirected automatically, please click <a href="https://www.smartsurvey.co.uk/s/0orpj/">here</a>.</p>
</article>
<link rel="canonical" href="https://www.smartsurvey.co.uk/s/0orpj/"/>
<noscript>
  <meta http-equiv="refresh" content="1;URL=https://www.smartsurvey.co.uk/s/0orpj/">
</noscript>
<!--[if lt IE 9]><script type="text/javascript">var IE_fix=true;</script><![endif]-->
<script type="text/javascript">
  var url = "https://www.smartsurvey.co.uk/s/0orpj/";
  if(typeof IE_fix != "undefined")
  {
    document.write("Redirecting...");
    var referLink = document.createElement("a");
    referLink.href = url;
    document.body.appendChild(referLink);
    referLink.click();
  }
  else { window.location.replace(url); }
</script>
