<% pageTitle = "Survey - Get a document legalised – GOV.UK" %>
<header>
  <h1 class="heading-xlarge">You are being redirected to our survey...</h1>
</header>
<article>
  <p class="summary">If you are not redirected automatically, please click <a href="https://www.smartsurvey.co.uk/s/0orpj/">here</a>.</p>
</article>
<meta http-equiv="refresh" content="2; url=https://www.smartsurvey.co.uk/s/0orpj/" />
