<% pageTitle = "My legalisation account" %>

<div class="inner_header <%if (!user_data.loggedIn){%>no-user-signed-in<%}%>" >
    <%- partial ('./partials/inner-header.ejs')%>

</div>

<h1 class="heading-xlarge">Upgrade your account</h1>
<div class="column-two-thirds">
    <p>The premium service is a counter service for pre-registered businesses only, who have a genuine business need for regular access to a same-day legalisation service.</p>
    <p>If you're applying on behalf of a business and want to use this service, <a href="<%= user_data.url%>/request-premium-service-access?from=account">request premium access</a>.</p>

    <p>If you aren't applying on behalf of a business, use the <a href="/new-application?app_type_group=1">standard service</a> instead.</p>
</div>
