<% pageTitle = "Choose a service - Get a document legalised – GOV.UK" %>

<div class="inner_header <%if (!user_data.loggedIn){%>no-user-signed-in<%}%>" >

        <%if(back_link){%> <a href="<%= back_link%>" class="back-to-previous">Back</a><%}%>
        <% if (user_data.loggedIn) { %>
        <%- partial ('../partials/inner-header.ejs')%>
        <% }else{%>
        <div class="inner-header-content">
            <span class="email-logout-text">
                 <a  href="<%= userServiceURL%>/sign-in?next=serviceSelector&from=start" class="btn btn-success btn-sm" id="sign-in-link" >Sign in</a>
            </span>

        </div>
        <%} %>
</div>

    <div class="form-group">
        <h2 class="heading-medium nomargintop">Legalisation services during coronavirus</h2>
      <p>Due to the impact of the coronavirus, the Foreign and Commonwealth Office, the UK’s competent authority for legalisation of documents under the Hague Convention, confirms that the United Kingdom is currently unable to accept documents for legalisation or apply apostilles after 23 March 2020. We will endeavour to resume services as soon as possible.</p>
      <p>Customers may wish to contact the authority to whom they wish to submit the documents, present the attached letter and ask if the authority would be prepared exceptionally to accept a document without an apostille given the very challenging circumstances.       </p>
    </div>

      <div class="open-legalisation-letter">
        <p class="logo"><a href="/images/FCO_Legalisation_Letter.pdf" target="_blank" rel="license">Download letter for legalisation during coronavirus.<span class="visually-hidden"> opens in new window</span></a></p>

      <p>Please find the above letter explaining the temporary unavailability of UK legalisation services for presentation with your documents to the relevant authority.</p>
    </div>
      <div class="form-group">
        <h2 class="heading-medium nomargintop">Exceptional circumstances only</h2>
        <p>Customers with urgent and exceptional requirements for legalisation, who have been unable to obtain agreement for the submission of documents without an apostille, should contact UrgentLegalisation@FCO.Gov.UK, or call our telephone helpline on 03700 002244 (Monday to Friday, 10am to 4pm).</p>
      </div>


</div>
