<% pageTitle = "Choose a service - Get a document legalised – GOV.UK" %>

<h1 class="heading-xlarge">Choose a service</h1>

<div class="column-two-thirds">
    <div class="form-group">
        <h2 class="heading-medium nomargintop">Urgent service</h2>
        <ul>
            <li>This page is for the creation of urgent applications only</li>
            <li>If your application is urgent, please contact the Legalisation Office at <a href="mailto:urgentlegalisation@fcdo.gov.uk" rel="external" target="_blank">UrgentLegalisation@fcdo.gov.uk <span class="visually-hidden"> opens in new window</span></a> before creating an application if you have not already done so </li>
            <li>Any applications received through this route which have not been pre-approved will not be treated as urgent and may experience significant delays</li>
        </ul>

        <a class="application-option button-secondary button" id="standard-service" href="/new-application?app_type_group=1">Start an urgent application</a>
    </div>


    <div class="form-group">
        <h2 class="heading-medium nomargintop">Standard service</h2>
        <p>For the standard service please <a href="/select-service">visit this page.</a> Please note, applications are currently open to account holders only
        </p>

    </div>
    <div class="form-group" >
        <h2 class="heading-medium nomargintop">Contact us</h2>
        <p>

       For urgent applications - <a href="mailto:urgentlegalisation@fcdo.gov.uk" rel="external" target="_blank">UrgentLegalisation@fcdo.gov.uk <span class="visually-hidden"> opens in new window</span></a><br>
       For general enquires - <a href="mailto:legalisation@fcdo.gov.uk" rel="external" target="_blank" class="govuk-link">legalisation@fcdo.gov.uk <span class="visually-hidden"> opens in new window</span></a><br>

       Telephone: 03700 00 22 44 <br>
       Monday to Friday, 9am to 5pm<br>
       <a href="https://www.gov.uk/call-charges" target="_blank" class="govuk-link">Find out more about call charges<span class="visually-hidden"> opens in new window</span></a>
        </p>
    </div>

</div>
