<% pageTitle = "Choose a service - Get a document legalised – GOV.UK" %>

<div class="inner_header <%if (!user_data.loggedIn){%>no-user-signed-in<%}%>" >

        <%if(back_link){%> <a href="<%= back_link%>" class="back-to-previous">Back</a><%}%>
        <% if (user_data.loggedIn) { %>
        <%- partial ('../partials/inner-header.ejs')%>
        <% }else{%>
        <div class="inner-header-content">
            <span class="email-logout-text">
                 <a  href="<%= userServiceURL%>/sign-in?next=serviceSelector&from=start" class="btn btn-success btn-sm" id="sign-in-link" >Sign in</a>
            </span>

        </div>
        <%} %>
</div>

<h1 class="heading-xlarge">Choose a service</h1>

<div class="column-two-thirds">
    <%if(user_data.user && user_data.user.dropOffEnabled){%>
    <div class="form-group">
        <h2 class="heading-medium">Business drop-off service</h2>
        <ul>
            <li>£30 per document</li>
            <li>Milton Keynes drop-off and collection only</li>
            <li>overnight service</li>
            <li>the counter opens on working days from 1pm to 2pm</li>

        </ul>
    </div>
    <%}%>

    <div class="form-group">
        <h2 class="heading-medium nomargintop">Standard service</h2>
      <p>
        Following the Prime Minister’s recent message on managing the outbreak of COVID-19 and public safety, the Foreign and Commonwealth Office is unable to offer the Legalisation Service from Monday 23rd March 2020.</p>
      <p>
        If you have a genuinely urgent application, please call the helpline on 03700 002244 (10am to 4pm, Monday to Friday, excluding public holidays) or email (UrgentLegalisation@fco.gov.uk).
      </p>
    </div>

    <div class="form-group  <%if(user_data.user && !user_data.user.premiumEnabled){%>hide<%}%>">
        <h2 class="heading-medium nomargintop">Premium service</h2>
        <p>
          Following the Prime Minister’s recent message on managing the outbreak of COVID-19 and public safety, the Foreign and Commonwealth Office is unable to offer a same day Premium Service for customers in London from Thursday 19 March 2020.</p>
       <p>
          If you have a genuinely urgent application, please call the helpline on 03700 002244 (10am to 4pm, Monday to Friday, excluding public holidays) or email (UrgentLegalisation@fco.gov.uk).</p>
    </div>


</div>
