<% pageTitle = "Cookie Opt Out" %>
<div class="inner_header no-js-hidden" >
    <a href="#" role="button" id="close-page-button" class="back-to-previous close-button"><i class="fa fa-times" aria-hidden="true"></i>Close <span class="visually-hidden">page</span> </a>
</div>

<div class="column-two-thirds">

    <p><span>For information on what cookies are and how they are used on GOV.UK pages, go to <a target="_blank" href="https://www.gov.uk/help/cookies">GOV.UK <span class="visually-hidden"> opens in new window</span></a></span></p>


    <h1 class="heading-medium">Cookie opt out</h1>

  <p>You have successfully opted out of government digital services analytics (Google Analytics)</p>

  </div>
