<% pageTitle = "Privacy-Policy - Get a document legalised – GOV.UK" %>
<div class="inner_header no-js-hidden" >
    <a href="#" role="button" id="close-page-button" class="back-to-previous close-button"><i class="fa fa-times" aria-hidden="true"></i>Close <span class="visually-hidden">page</span> </a>
</div>

<h1 class="heading-xlarge">Privacy Policy</h1>

    <h2 class="heading-medium">Foreign and Commonwealth Office</h2>
    <h2 class="font-medium">Privacy notice</h2>

    <p>Date last modified: 23/05/2018</p>

    <h2 class="font-medium">Who we are</h2>

    <p>Consular Directorate, Legalisation Office<br>
      which is part of the<br>
      Foreign and Commonwealth Office<br>
      King Charles Street<br>
      London<br>
      SW1A 2AH<br>
      Tel: 020 7008 1500</p>

    <h2 class="font-medium">What data we process and why</h2>

    <p>The FCO works in the UK and overseas to safeguard Britain’s national security, build Britain’s prosperity and support British citizens overseas.  In doing so we process personal data.</p>

    <p>In particular, the Legalisation Office of the Consular Directorate uses personal data for the purposes of legalising documents. Individuals applying to get documents legalised are required to provide personal data which is necessary for the delivery of the service. The service cannot be provided without this data. This data includes your name, contact details, details of your documents and the addresses to which you want documents returned. We use this information to deliver the legalisation service, and you may be contacted by officers from the Legalisation Office about your application. If you choose to create an account for repeat use of this service, you'll have the additional option to store payment and contact details and view recent applications. This service may contain free-text fields in which you are invited to enter additional comments relating to the selected service. You should not enter sensitive information into these free-text fields. Sensitive information may include, but is not limited to, details of medical history, religious beliefs and financial information. Entering sensitive information into these fields is done at your own risk, and the FCO is not liable for this.</p>

    <h2 class="font-medium">Legal basis for the processing</h2>

    <p>We process this data because it is necessary to do so in order to perform our official functions as a government department.</p>

    <h2 class="font-medium">What we do with it</h2>

    <p>The Foreign & Commonwealth Office uses and retains the personal data of legalisation applicants for the purposes of the reliable and secure provision of this service.</p>

    <h2 class="font-medium">Processing of site usage information</h2>

    <p>Separately from the information entered by those using this service, we also collect site usage information which allows us to see how the service is being used in order to allow us to improve it. This information does not contain any personal data. It includes:</p>

    <ul class="list-bullet">
        <li>your IP address, and details of which version of web browser you used. IP addresses are anonymised to two bytes e.g. 192.168.xxx.xxx</li>
        <li>information on how you use the site, using cookies and page tagging techniques to help us improve the website</li>
    </ul>

    <p>This helps us to improve the site by monitoring how you use it</p>

    <h2 class="font-medium">Data processors</h2>

    <p>We use other suppliers to provide this service:</p>

    <ul class="list-bullet">
        <li><a href="http://sendgrid.com/" target="_blank"  rel="external" >SendGrid<span class="visually-hidden"> opens in new window</span></a> to send confirmation emails and other communications about your application. See the <a href="http://sendgrid.com/tos" target="_blank"  rel="external" >terms & conditions<span class="visually-hidden"> opens in new window</span></a> attached to this service.</li>
        <li><a href="http://www.barclaycard.co.uk/business/accepting-payments/corporate-services/online-payment-solutions" target="_blank"  rel="external" >Barclaycard <span class="visually-hidden"> opens in new window</span></a> to take payments online.</li>
        <li><a href="http://www.gbgplc.com/uk/" target="_blank" rel="external" >GB Group <span class="visually-hidden"> opens in new window</span></a> to look up postcodes in order to find a matching address. See the <a href="http://www.gbgplc.com/uk/legal/"  rel="external" target="_blank" >legal information<span class="visually-hidden"> opens in new window</span></a> about this service.</li>
        <li><a href="http://www.iizuka.co.uk/" target="_blank" rel="external" >Iizuka <span class="visually-hidden"> opens in new window</span></a> for case management software.</li>
        <li><a href="https://ukcloud.com/" target="_blank" rel="external" >UK Cloud <span class="visually-hidden"> opens in new window</span></a> for web hosting.</li>
    </ul>

    <p>Our contracts with suppliers require them to comply with applicable data protection laws.</p>

    <p>There may be other circumstances in which we may lawfully share your data with third parties where, for example, we are required to do so by law, by court order, or to prevent fraud or other crimes.  Where we share data, however, we shall do so in accordance with applicable data protection laws. </p>

    <p>However, we won’t share your information with any other organisations for marketing or commercial purposes, and we don’t pass on your details to other websites.</p>

    <h2 class="font-medium">How long we keep your data</h2>
    <p>We will securely retain your personal data as a historical record of your application</p>

    <h2 class="font-medium">Your rights</h2>
    <p>In certain circumstances you have the right to:</p>
    <ul class="list-bullet">
        <li><a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-to-object/" target="_blank"  rel="external" >Object <span class="visually-hidden"> opens in new window</span></a> request that your data is not processed for certain purposes.</li>
        <li><a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-to-erasure/" target="_blank"  rel="external" >Erasure <span class="visually-hidden"> opens in new window</span></a> request that your personal data is erased where one of the statutory grounds applies</li>
        <li><a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-to-data-portability/" target="_blank" rel="external" >Data portability <span class="visually-hidden"> opens in new window</span></a> the right to obtain and reuse your personal data for your own purposes across different services in certain circumstances.</li>
        <li><a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-to-erasure/" target="_blank" rel="external" >Restrict processing <span class="visually-hidden"> opens in new window</span></a> request that the processing of your personal data is restricted in certain circumstances – for example, where accuracy is contested.</li>
        <li><a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-to-rectification/" target="_blank" rel="external" >Rectification <span class="visually-hidden"> opens in new window</span></a> request that any inaccuracies in your personal data are rectified without delay.  Request that any incomplete personal data is completed, including by means of a supplementary statement.  </li>
        <li><a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-of-access/" target="_blank" rel="external" >Access <span class="visually-hidden"> opens in new window</span></a> request information about how your personal data is processed and to request a copy of that personal data.</li>
    </ul>


    <h2 class="font-medium">Keeping your data secure</h2>
    <p>We take data security very seriously and we take every step to ensure that your data remains private and secure. We use SSL in order to encrypt all data transferred to and received from our server.</p>

    <h2 class="font-medium">How to contact us</h2>

    <p>If you have any questions about anything in this notice, or if you consider that your
      personal data has been misused or mishandled, or if you would like to exercise any of your rights, you can contact the Data Protection Officer at the Foreign and Commonwealth Office:
    </p>

     <p>Data Protection Officer<br>
        Knowledge Management Department<br>
        Knowledge and Technology Directorate<br>
        Room K4.02<br>
        Foreign and Commonwealth Office<br>
        King Charles Street<br>
        London<br>
        SW1A 2AH<br><br>
        Email: Data.Protection@fco.gov.uk<br>
        Tel: 020 7008 1500</p>


    <h2 class="font-medium">Complaints</h2>
    <p>You may also make a complaint to the Information Commissioner, who is an independent regulator. The Information Commissioner can be contacted at: </p>

    <p>Information Commissioner's Office<br>
      Wycliffe House<br>
      Water Lane<br>
      Wilmslow<br>
      Cheshire SK9 5AF<br>
      Email: casework@ico.org.uk<br>
      Tel: 0303 123 1113</p>

    <h2 class="font-medium">Changes to this notice</h2>
    <p>We may modify or amend this privacy notice at our discretion at any time. When we make changes to this notice, we will amend the last modified date at the top of this page. Any modification or amendment to this privacy notice will be applied to you and your data as of that revision date. We encourage you to periodically review this privacy notice to be informed about how we are protecting your data. We will endeavour to notify you of any material changes to this privacy notice.</p>
</div>
