<% pageTitle = "Terms and conditions" %>
<div class="inner_header no-js-hidden" >
    <a href="#" role="button" id="close-page-button" class="back-to-previous close-button govuk-link"><i class="fa fa-times" aria-hidden="true"></i>Close <span class="visually-hidden">page</span> </a>

</div>

<h1 class="heading-xlarge">Terms and conditions</h1>

<div class="column-two-thirds">
    <ul class="contents-links">
        <li>
            <a href="#general" class="content-link__text govuk-link">General</a>
        </li>
        <li>
            <a href="#applicable-law" class="content-link__text govuk-link">Applicable law</a>
        </li>
        <li>
            <a href="#how-to-use-this-service" class="content-link__text govuk-link">How to use this service responsibly</a>
        </li>
        <li>
            <a href="#requirements-for-legalisation" class="content-link__text govuk-link">Requirements for legalisation</a>
        </li>
        <li>
            <a href="#disclaimer" class="content-link__text govuk-link">Disclaimer</a>
        </li>
    </ul>

    <h2 id="general" class="heading-medium">General</h2>

    <p>By using this legalisation service you agree to our <a class="govuk-link" href="privacy-policy">privacy policy</a> and to these terms and conditions. Please read them carefully.</p>

    <p>These terms and conditions affect your rights and liabilities under the law. They govern your use of, and relationship with, the legalisation online service. They do not apply to other services provided by the Foreign, Commonwealth and Development Office (FCDO), or to any other department or service which is linked to in this service.</p>

    <p>You agree to use this site only for lawful purposes, and in a manner that does not infringe the rights of, or restrict or inhibit the use and enjoyment of, this site by any third party.</p>

    <p>
        We may occasionally update these terms and conditions. This might happen if there is a change in the law or to the way this service works. Please check these terms and conditions regularly, as continued use of the legalisation online service after a change has been made is your acceptance of the change. If you do not agree to the terms and conditions and <a class="govuk-link" href="privacy-policy">privacy policy</a>, you should not use this service.
    </p>

    <h2 id="applicable-law" class="heading-medium">Applicable law</h2>

    <p>Your use of this service and any dispute arising from its use will be governed by and construed in accordance with the laws of England and Wales, including but not limited to the:</p>

    <ul class="list-bullet">
        <li>Computer Misuse Act 1990</li>
        <li>Data Protection Act 2018 and GDPR</li>
        <li>Mental Capacity Act 2005</li>
    </ul>

    <h2 id="how-to-use-this-service" class="heading-medium">How to use this service responsibly</h2>

    <p>You must provide a valid email address and contact number when using this service. We need these details to provide information about your application, including follow up questions when necessary, so you must provide accurate details where we can reliably contact you.</p>

    <p>Please note that when using the premium business service you will have to pass through security upon arrival and you should expect your belongings to be checked.</p>

    <p>The Premium Business Service is not a public counter and cannot serve individuals or clients of a business registered for the Premium Business Service.</p>

    <p>If you are a registered business customer using the Premium Business Service to legalise documents on behalf of a client, you should send an employee of your business to submit the legalisation application (they may be asked to provide evidence that they are an employee of the business) or use a licensed courier to drop off, and later collect, the application(s).</p>

    <p>There are risks in using a shared computer, such as in an internet café, to use this digital service. It is your responsibility to be aware of these risks and to avoid using any computer which may leave your personal information accessible to others. You are responsible if you choose to leave a computer unprotected while in the process of making a legalisation application online.</p>

    <p>We make every effort to check and test this service whenever we amend or update it. However, you must take your own precautions to ensure that the way you access this service does not expose you to the risk of viruses, malicious computer code or other forms of interference which may damage your own computer system.</p>

    <p>You must not misuse our service by knowingly introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful. You must not attempt to gain unauthorised access to our service, the system on which our service is stored or any server, computer or database connected to our service. You must not attack our site through a denial-of-service attack or a distributed denial-of-service attack.</p>

    <h2 id="requirements-for-legalisation" class="heading-medium">Requirements for legalisation</h2>
    <p>
        When a notary public or solicitor certifies a paper document, or PDF (for e-Apostille service), they must:
    </p>

    <ul class="list-bullet">
        <li>hold a valid UK practising certificate for the date</li>
        <li>sign with a signature registered with their name, as listed by the relevant regulatory body, for example The Law Society or the Faculty Office</li>
        <li>use their personal signature, not a company one </li>
        <li>sign in the UK, in the jurisdiction they are registered</li>
        <li>include their seal, if applicable, which must be on the same page of the document as their signature</li>
        <li>include their name and company address</li>
        <li>include the full date of certification, specifying the day, month and year (the certification cannot be post-dated)</li>
        <li>state the action they have taken, for example, that they certified the document as a copy or witnessed a signature</li>
        <li>make sure the certification is appropriate for the document type</li>
    </ul>

    <p>
        Additionally for e-Apostille applications, a notary or solicitor must:
    </p>

    <ul class="list-bullet">
        <li>electronically sign PDF documents (with an image of their seal, where they have a seal, appearing on the same page as the signature)</li>
        <li>where a cover sheet is included in a PDF, begin the PDF with the cover sheet and reference each of the documents within the PDF</li>
    </ul>
    <h2 id="disclaimer" class="heading-medium">Disclaimer</h2>

    <p>While we make every effort to keep this service up to date, we don’t provide any guarantees, conditions or warranties as to the accuracy of the information on the site.</p>

    <p>While legalisation staff will give you as much advice as they can, it is your responsibility to ensure that you are obtaining the correct service and that you supply all the necessary documentation for the service. If you are unsure, you may wish to take legal advice before making an application.</p>

    <p>Our consular fees are not refundable, and are subject to change without notice. Check the relevant <a href="https://www.gov.uk/search?q=consular+fees">consular fees list<span class="visually-hidden"> opens in new window</span></a> for the latest information.</p>

    <p>We don’t accept liability for loss or damage incurred by users of this service, whether direct, indirect or consequential, whether caused by tort, breach of contract or otherwise. This includes loss of income or revenue, business, profits or contracts, anticipated savings, data, goodwill, tangible property or wasted time in connection with this service or any websites linked to it and any materials posted on it. This condition shall not prevent claims for loss of or damage to your tangible property or any other claims for direct financial loss that are not excluded by any of the categories set out above. This does not affect our liability for death or personal injury arising from our negligence, nor our liability for fraudulent misrepresentation or misrepresentation as to a fundamental matter, nor any other liability which cannot be excluded or limited under applicable law.<p>

    <p>This does not affect our liability for death or personal injury arising from our negligence, nor our liability for fraudulent misrepresentation or misrepresentation as to a fundamental matter, nor any other liability which cannot be excluded or limited under applicable law.</p>
</div>
