<% pageTitle = "Additional Payments - Get a document legalised – GOV.UK" %>

<h1 class="heading-xlarge">Make an additional payment for legalisation</h1>

<div class="column-two-thirds">

    <% if (errors.length > 0) {%>
        <% pageTitle = "Error: Additional Payments - Get a document legalised – GOV.UK" %>

        <div class="govuk-error-summary" id="error-details" role="alert" aria-labelledby="error-details additional-information" tabindex="-1" autofocus>

            <h2 class="govuk-error-summary__title" id="govuk-error-summary-heading">
                There is a problem
            </h2>

            <div id="all-errors">
                <% if (errors.length > 0 && errors[0].msg) {
                %><ul><%
                    for ( var i=0; i < errors.length; i++ )
                    {%><li><%= errors[i].msg %></li><%}
                    %></ul><%}%>
            </div>
        </div>
    <%}%>

    <p>This page is for making additional payments for existing applications. For example, to pay for an extra document or to pay the correct amount of postage.</p>
    <p class="panel panel-border-narrow">To submit a new application use the <a class="govuk-link" href="https://www.gov.uk/get-document-legalised">legalisation online application service</a> instead.</p>


    <form id="additional-payments-form" method="post" action="/additional-payments/confirm">
        <div class="form-group">
            <div id="legend_cost">
                <label class="form-label-bold" for="cost">How much extra do you need to pay?</label>
                <span style="color:#6f777b;">Enter the amount which you've been told to pay by the Legalisation Office</span>
                <div class="currency-input">
                    <input style="display: inline-block; margin: 0px;" type="text" aria-required="true" id="cost" name="cost" class="number" placeholder="0.00"
                           <% if (req.session.additionalPayments && parseFloat(req.session.additionalPayments.cost) > 0) {%>value="<%= req.session.additionalPayments.cost%>"<%}%>>
                    <i>£</i>
                </div>

            </div>
            <div id="legend_email">
                <label class="form-label-bold" for="email">What is your email address?</label>
                <span style="color:#6f777b;">Enter your email so we can send you a payment confirmation</span>
                <input type="text" aria-required="true" class="form-control" id="email" name="email" autocomplete="on"
                       <% if (req.session.additionalPayments) {%>value="<%= req.session.additionalPayments.email%>"<%}%>>
            </div>
            <br />
            <input type="submit" id="NextBtn" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" value="Continue">
        </div>
    </form>

</div>

<% errors = [] %>
